
server {
    listen 80;
    root /usr/share/nginx/html;

    location /test {
         access_log off;
         return 200 '${MESSAGE} proxy ${BACKEND_ENDPOINT}';
        add_header Content-Type text/plain;
    }

    location /api/ {
        proxy_pass ${BACKEND_ENDPOINT};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
} 


